.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.open {
    display: block;
}

.modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.monthModalForm {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    font-size: 18px;
}

.monthModalForm button {
    flex: 1 0 40px;
    background: blueviolet;
    font-size: 18px;
    color: white;
    padding: 10px 25px;
    border: 1px solid #e1d9ec;
    border-bottom-width: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.monthModalForm button:disabled {
    opacity: 0.5;
}

